.root{
	-fx-background-image: url("template.png");
	-fx-background-color: "white";
}

#favouriteGuidemansLabel{
	-fx-font-size: 35;
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	-fx-text-fill: #699a1e;
}

#saveChangesButton{
	-fx-font-size: 18;
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	-fx-text-fill: "black";
	-fx-background-color: "yellowgreen";
  	-fx-display: inline-block;
  	-fx-cursor: pointer;
}
#saveChangesButton:hover {
  -fx-background-color: #699a1e;
}

#deleteGuidemanButton{
	-fx-font-size: 18;
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	-fx-text-fill: "black";
	-fx-background-color: "khaki";
  	-fx-display: inline-block;
  	-fx-cursor: pointer;
}
#deleteGuidemanButton:hover {
  -fx-background-color: #f8c857;
}