///////// main scene

.root{
	-fx-background-image: url("template3.png");
	-fx-background-color: "white";
}

#myProfileButton{
	-fx-font-size: 20;
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	-fx-text-fill: "black";
	-fx-background-color: "yellowgreen";
  	-fx-display: inline-block;
  	-fx-cursor: pointer;
}
#myProfileButton:hover {
  -fx-background-color: #699a1e;
}

#myToursButton{
	-fx-font-size: 20;
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	-fx-text-fill: "black";
	-fx-background-color: "yellowgreen";
  	-fx-display: inline-block;
  	-fx-cursor: pointer;
}
#myToursButton:hover {
  -fx-background-color: #699a1e;
}

#searchTourButton{
	-fx-font-size: 20;
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	-fx-text-fill: "black";
	-fx-background-color: "yellowgreen";
  	-fx-display: inline-block;
  	-fx-cursor: pointer;
}
#searchTourButton:hover {
  -fx-background-color: #699a1e;
}

#createTourButton{
	-fx-font-size: 20;
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	-fx-text-fill: "black";
	-fx-background-color: "yellowgreen";
  	-fx-display: inline-block;
  	-fx-cursor: pointer;
}
#createTourButton:hover {
  -fx-background-color: #699a1e;
}

#logOutButton{
	-fx-font-size: 20;
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	-fx-text-fill: "black";
	-fx-background-color: "yellowgreen";
}
#logOutButton:hover {
  -fx-background-color: #699a1e;
}



#favouriteGuidemansLabel{
	-fx-font-size: 35;
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	-fx-text-fill: #699a1e;
}

#saveChangesButton{
	-fx-font-size: 20;
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	-fx-text-fill: "black";
	-fx-background-color: "yellowgreen";
  	-fx-display: inline-block;
  	-fx-cursor: pointer;
}
#saveChangesButton:hover {
  -fx-background-color: #699a1e;
}

#deleteGuidemanButton{
	-fx-font-size: 20;
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	-fx-text-fill: "black";
	-fx-background-color: "khaki";
  	-fx-display: inline-block;
  	-fx-cursor: pointer;
}
#deleteGuidemanButton:hover {
  -fx-background-color: #f8c857;
}